<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('ブログ詳細')}"></head>
<body>
    <h1>DETAIL BLOG</h1>

    <header th:replace="~{fragments/layout :: header}"></header>

    <div class="aa">
        <div class="detail">
            <p class="title"><span th:text="${blog.title}">仮タイトル</span></p>
            <p><span th:text="${blog.contents}">仮本文</span></p>
        </div>

        <div class="delete">
            <form th:action="@{/blogs/{id}/delete(id=${blog.id})}" method="post">
                <button type="submit">削除</button>
            </form>
        </div>

        <a href="/blogs">戻る</a>
    </div>
    
    
</body>
</html>